In [1]:
#Data cleaning
# Removing or filter empty cells
# cleaning wrong format
# cleaning wrong data
# cleaning duplicates

In [3]:
import pandas as pd
import numpy as np

In [29]:
my_df = {
    "name": ["omkar","umesh","bhagwant"],
    "USN": ["123",np.NaN,"345"]
}

In [30]:
df = pd.DataFrame(my_df)

In [31]:
df

,name,USN
0,omkar,123
1,umesh,NaN
2,bhagwant,345

In [33]:
df.dropna(inplace=True)

In [34]:
df

,name,USN
0,omkar,123
2,bhagwant,345

In [35]:
df.reset_index(drop=True)

,name,USN
0,omkar,123
1,bhagwant,345

In [54]:
#new task

my_df1 = {
    "name": ["omkar","umesh","bhagwant","akash"],
    "USN": ["123","789","345","567"],
    "attendance": [87,88,89,90]
}

In [55]:
df1 = pd.DataFrame(my_df1)
df1

,name,USN,attendance
0,omkar,123,87
1,umesh,789,88
2,bhagwant,345,89
3,akash,567,90

In [56]:
df1.dropna()

,name,USN,attendance
0,omkar,123,87
1,umesh,789,88
2,bhagwant,345,89
3,akash,567,90

In [57]:
df1[" avg_attendance"] = df1["attendance"].mean()

In [58]:
df1

,name,USN,attendance,avg_attendance
0,omkar,123,87,88.5
1,umesh,789,88,88.5
2,bhagwant,345,89,88.5
3,akash,567,90,88.5

In [59]:
#without dataframe

df1["attendance"]=df1["attendance"].apply(pd.to_numeric)
df1["attendance"].mean()

88.5

In [60]:
#another way

df1.mean()

<ipython-input-60-00fb6bfec183>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean()

In [63]:
#new task

data = pd.read_csv("/data/notebook_files/MOCK_DATA (1).csv")
data.head()

,Name,USN,Attendance
0,Marlow,NaN,22.0
1,Ettie,86.0,92.0
2,Keenan,30.0,37.0
3,Killie,75.0,60.0
4,Forbes,NaN,40.0

In [65]:
data.isnull().sum()

In [70]:
new_data = data.dropna()

In [71]:
new_data.isnull().sum()

In [73]:
df = data.fillna(0)

In [75]:
df.isnull().sum()

In [77]:
df.head()

,Name,USN,Attendance
1,Ettie,86.0,92.0
2,Keenan,30.0,37.0
3,Killie,75.0,60.0
5,Debora,83.0,6.0
7,Benyamin,18.0,50.0

In [86]:
df[df["USN"] % 2 == 0] = np.nan

In [87]:
df.head()

,Name,USN,Attendance
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,Killie,75.0,60.0
5,Debora,83.0,6.0
7,NaN,NaN,NaN

In [90]:
df.dropna(inplace=True)
df.head()

,Name,USN,Attendance
3,Killie,75.0,60.0
5,Debora,83.0,6.0
12,Cirstoforo,13.0,59.0
19,Cilka,17.0,28.0
21,Aldrich,69.0,95.0

In [92]:
df.reset_index(drop=True)
df.head(10)

,Name,USN,Attendance
3,Killie,75.0,60.0
5,Debora,83.0,6.0
12,Cirstoforo,13.0,59.0
19,Cilka,17.0,28.0
21,Aldrich,69.0,95.0
23,Odo,25.0,55.0
24,Horatius,45.0,76.0
28,Isidore,91.0,53.0
32,Jaquith,59.0,30.0
35,Cissy,9.0,92.0

In [4]:
## New task
#Working with country and drug names\

data = pd.read_csv("/data/notebook_files/Drug data.csv")
data.head(10)

,Drug NAme,Country,Average Consumption
0,Balsam Poplar,Spain,8402.902
1,Labetalol Hydrochloride,Poland,72770.567
2,degarelix,China,95041.020
3,ceftriaxone,Japan,76840.813
4,Ibuprofen,China,41653.013
5,Lansoprazole,Mongolia,69445.926
6,ciclesonide,Japan,87631.352
7,GUAIFENESIN,China,50865.311
8,Benzethonium Chloride,China,60188.027
9,Ketotifen Fumarate,France,10853.953

In [5]:
unique_countries = data["Country"].unique()
unique_countries

In [6]:

df_list = []
for x, i in enumerate(unique_countries):
  state = data[data['Country'] == i]
  df_list.append(state)

df_list[3].head(10)

,Drug NAme,Country,Average Consumption
3,ceftriaxone,Japan,76840.813
6,ciclesonide,Japan,87631.352
49,"Echinacea, Hypericum perforatum, Symphytum off...",Japan,47905.019
70,"Mucinex Fast Max Cold, Flu and Sore Throat Max...",Japan,84786.668
123,Glycerin Phenylephrine HCI Pramoxine HCI White...,Japan,30563.449
126,"Guaifenesin, Dextromethorphan HBR",Japan,66898.913
160,Divalproex Sodium,Japan,69149.949
244,ibuprofen,Japan,43578.772
318,Povidone-Iodine Ointment,Japan,67224.116
321,Digoxin,Japan,99511.428

In [8]:
#Find most common drug

data.groupby("Average Consumption").last()

,Drug NAme,Country
Average Consumption,,
184.888,Amitriptyline Hydrochloride,Indonesia
206.026,Famotidine,Cyprus
281.567,Oxygen,China
302.141,"Menthol, Methyl salicylate",China
357.918,Elaeagnus angustifolia,France
...,...,...
99904.992,Quinidine Sulfate,Uzbekistan
99998.621,"ascorbic acid, cholecalciferol, .alpha.-tocoph...",Russia
100000.799,Bisacodyl,Poland
100000.946,BIOTIN,Sri Lanka
100097.393,Diclofenac Sodium and Misoprostol,Bulgaria

In [9]:
unique_countries = data["Country"].unique()
unique_countries

In [13]:
df_list = []
for i in unique_countries:
  df_list.append(data[data["Country"] == i])

print(df_list)

[       Drug NAme Country  Average Consumption
0  Balsam Poplar   Spain             8402.902,                                              Drug NAme Country  \
1                              Labetalol Hydrochloride  Poland
24                                            Nitrogen  Poland
89   Avobenzone,Octocrylene,Oxybenzone,Homosalate,O...  Poland
96                                             Alcohol  Poland
105                                    Sodium Fluoride  Poland
110                                      acetaminophen  Poland
223                      Carbon Dioxide-Oxygen Mixture  Poland
352                                           ramipril  Poland
387                           Polyethylene Glycol 3350  Poland
403                                   TITANIUM DIOXIDE  Poland
413                                     salicylic acid  Poland
416                                        Amoxicillin  Poland
431     CYCLOBENZAPRINE HYDROCHLORIDE, MAGNESIUM OXIDE  Poland
441                                          Ibuprofen  Poland
447            Olanzapine and Fluoxetine hydrochloride  Poland
493                               METOPROLOL SUCCINATE  Poland
515                                      Chlorzoxazone  Poland
517                                               Pork  Poland
518                          Oxymorphone hydrochloride  Poland
529                                          Bisacodyl  Poland
557                                            Aspirin  Poland
558                           tapentadol hydrochloride  Poland
574                                            MENTHOL  Poland
583                                hydrochlorothiazide  Poland
619                                 sildenafil citrate  Poland
627  Arnica montana, Bryonia alba, Causticum, Calca...  Poland
631  avobenzone, homosalate, octisalate, oxybenzone...  Poland
660                               Atorvastatin Calcium  Poland
701                              BENZETHONIUM CHLORIDE  Poland
717                               LEVOTHYROXINE SODIUM  Poland
739                                         Nifedipine  Poland
784                           Benazepril Hydrochloride  Poland
845                                   BENZOYL PEROXIDE  Poland
860                                       LEVOFLOXACIN  Poland
889   BUPIVACAINE HYDROCHLORIDE,EPINEPHRINE BITARTRATE  Poland
894  Acetaminophen, Dextromethorphan Hydrobromide, ...  Poland
928                                         topiramate  Poland
961  sodium sulfate, potassium sulfate, magnesium s...  Poland

     Average Consumption
1              72770.567
24             37320.742
89             20576.300
96             19600.755
105            96317.179
110            60413.783
223            64727.475
352            30250.638
387            94028.968
403            99547.302
413            13889.375
416            38479.664
431            84476.044
441            23419.014
447            46569.012
493            27100.525
515            70473.018
517             4794.064
518            38201.801
529           100000.799
557            55886.355
558            53079.541
574            62541.389
583            38810.836
619             8881.428
627            18188.915
631            91015.430
660            99392.779
701            85146.671
717             6275.737
739            50795.161
784            57781.349
845            67993.835
860            33324.265
889            26489.952
894            94538.633
928            65136.322
961            94752.251  ,                                              Drug NAme Country  \
2                                            degarelix   China
4                                            Ibuprofen   China
7                                          GUAIFENESIN   China
8                                Benzethonium Chloride   China
12                                         Tropicamide   China
..                                                 ...     ...
984  Avobenzone and Homosalate and Octocrylene and ...   China
991                                   Titanium Dioxide   China
992  Acetaminophen, Dextromethorphan HBr, Doxylamin...   China
996                                        galantamine   China
999  Octinoxate, Oxybenzone, Octisalate, and Titani...   China

     Average Consumption
2              95041.020
4              41653.013
7              50865.311
8              60188.027
12             99489.652
..                   ...
984            48998.215
991            63420.481
992            40474.108
996            44683.140
999            55318.388

[185 rows x 3 columns],                                              Drug NAme Country  \
3                                          ceftriaxone   Japan
6                                          ciclesonide   Japan
49   Echinacea, Hypericum perforatum, Symphytum off...   Japan
70   Mucinex Fast Max Cold, Flu and Sore Throat Max...   Japan
123  Glycerin Phenylephrine HCI Pramoxine HCI White...   Japan
126                  Guaifenesin, Dextromethorphan HBR   Japan
160                                  Divalproex Sodium   Japan
244                                          ibuprofen   Japan
318                           Povidone-Iodine Ointment   Japan
321                                            Digoxin   Japan
393                                         topiramate   Japan
406                                       American Elm   Japan
459                 AVOBENZONE,OCTOCRYLENE, OXYBENZONE   Japan
461                                      ACETAMINOPHEN   Japan
487                SODIUM BICARBONATE, SODIUM CHLORIDE   Japan
508                                         OCTINOXATE   Japan
527                               Levothyroxine Sodium   Japan
601                           Loperamide Hydrochloride   Japan
646                           Cetirizine Hydrochloride   Japan
656                                         Cephalexin   Japan
751  Atropa Belladonna, Cyclamen purpurascens tuber...   Japan
786                                     mercaptopurine   Japan
814                                        Mineral Oil   Japan
844  Argentum nitricum, Bryonia, Cocculus indicus, ...   Japan
848                                    Docusate sodium   Japan
866                   Technetium Tc 99m Sulfur Colloid   Japan
872                                  zolpidem tartrate   Japan
942                                        Risperidone   Japan
995          AVOBENZONE,OCTINOXATE,OXYBENZONE,PADIMATE   Japan

     Average Consumption
3              76840.813
6              87631.352
49             47905.019
70             84786.668
123            30563.449
126            66898.913
160            69149.949
244            43578.772
318            67224.116
321            99511.428
393            85598.541
406             7181.991
459            25324.232
461            33501.430
487            34629.971
508            63354.952
527            85030.612
601            95205.021
646            36729.812
656            10990.722
751            87657.728
786            18186.246
814            96707.683
844            11003.183
848            84506.435
866            87314.372
872            76385.184
942            84726.970
995             2754.583  ,                                     Drug NAme   Country  Average Consumption
5                                Lansoprazole  Mongolia            69445.926
83                           Titanium Dioxide  Mongolia            38777.319
255                    carbidopa and levodopa  Mongolia            45485.817
463  Hydrocodone Bitartrate And Acetaminophen  Mongolia            85749.629
522                    FROVATRIPTAN SUCCINATE  Mongolia            97766.003
683        Octinoxate, Octisalate, Oxybenzone  Mongolia             3219.519,                                              Drug NAme Country  \
9                                   Ketotifen Fumarate  France
27                       CARBON DIOXIDE OXYGEN MIXTURE  France
84                                          gabapentin  France
98                                           Ibuprofen  France
124                                          Lorazepam  France
178                                        Dimethicone  France
206                                          Salsalate  France
211                                         RANITIDINE  France
229                              Benzethonium chloride  France
246                                        risperidone  France
264                                         Peppermint  France
269                                            Wal-Zyr  France
381  SODIUM BORATE, CALENDULA OFFICINALIS FLOWERING...  France
396                            Citalopram Hydrobromide  France
410                                           zaleplon  France
513                                     Salicylic Acid  France
588                                          Capsaicin  France
595                                            Alcohol  France
626                        BECLOMETHASONE DIPROPIONATE  France
746                                    Sodium Fluoride  France
780                          ondansetron hydrochloride  France
791                            Flavoxate hydrochloride  France
835                                  Albuterol Sulfate  France
865                                         ZINC OXIDE  France
873                                            ALCOHOL  France
877                                Nicotine Polacrilex  France
878                                         Tacrolimus  France
911                       benzylpenicilloyl polylysine  France
964     EUCALYPTOL, MENTHOL, METHYL SALICYLATE, THYMOL  France
976                             Elaeagnus angustifolia  France
990                   Guaifenesin, Pseudoephedrine HCl  France

     Average Consumption
9              10853.953
27             51963.602
84              8005.639
98             61301.965
124             2289.594
178            47910.200
206            42049.501
211             8720.440
229            35699.604
246            96068.256
264            34767.332
269            89426.055
381            43632.832
396            39716.096
410             1310.153
513            33392.141
588            49950.353
595            22974.591
626            58853.409
746            48367.775
780            89733.292
791             3290.320
835             5769.444
865            73331.299
873            27058.786
877            49006.673
878            21610.468
911            70594.609
964             6252.300
976              357.918
990            35408.597  ,                                              Drug NAme      Country  \
10                                 serratia marcescens  Philippines
37                                rumex crispus pollen  Philippines
44   Acetaminophen, Chlorpheniramine Maleate, Dextr...  Philippines
55                          PHELLINUS LINTEUS MYCELIUM  Philippines
60   Octinoxate, Octisalate, Octocrylene, and Zinc ...  Philippines
68                                          Benzocaine  Philippines
116                                Fluvoxamine Maleate  Philippines
121              Acetaminophen and Diphenhydramine HCl  Philippines
152                                         CYTARABINE  Philippines
157                            midodrine hydrochloride  Philippines
164          Avobenzone and Octocrylene and Oxybenzone  Philippines
166                                            ALCOHOL  Philippines
192                              benzalkonium chloride  Philippines
193                                         OCTINOXATE  Philippines
196                                          meloxicam  Philippines
276                                        mineral oil  Philippines
282                                            Alcohol  Philippines
291                                    bacitracin zinc  Philippines
327           OCTINOXATE, TITANIUM DIOXIDE, ZINC OXIDE  Philippines
332                                        mebendazole  Philippines
428                                MAGNESIUM HYDROXIDE  Philippines
430          Cimicifuga Racemosa, Hypericum Perforatum  Philippines
495      Dextromethorphan Hydrobromide and GUAIFENESIN  Philippines
552                                Quetiapine fumarate  Philippines
555         Losartan Potassium and Hydrochlorothiazide  Philippines
560                                  Cefuroxime Axetil  Philippines
570                                         Budesonide  Philippines
575                                  Calcium carbonate  Philippines
584           Zinc Acetate and Pramoxine Hydrochloride  Philippines
617                              Chloroquine Phosphate  Philippines
737  Dextromethorphan Hydrobromide, Doxylamine Succ...  Philippines
755                                  Isopropyl Alcohol  Philippines
766             Avobenzone, Octisalate and Octocrylene  Philippines
773                                      Acetaminophen  Philippines
777                                           GLYCERIN  Philippines
778           Aluminum Zirconium Tetrachlorohydrex GLY  Philippines
811   amlodipine besylate and benazepril hydrochloride  Philippines
822                                   ARSENIC TRIOXIDE  Philippines
854                          Guaifenesin/phenylephrine  Philippines
901                                Hydroxyzine Pamoate  Philippines
905                                      Levetiracetam  Philippines
925                            donepezil hydrochloride  Philippines
948                                         furosemide  Philippines
968                                 montelukast sodium  Philippines
975                                           diazepam  Philippines

     Average Consumption
10             81945.000
37             14233.184
44             94845.011
55             36389.142
60             83277.483
68              7232.206
116              549.641
121            40285.621
152            15063.442
157             4536.954
164            24174.180
166            86856.890
192            80142.839
193            13776.561
196            27843.399
276            91098.000
282             7421.177
291            31482.032
327            86041.770
332            52828.332
428            41171.559
430            53375.528
495            25297.358
552            71380.453
555            52827.473
560            79667.227
570            56449.344
575            76810.704
584            25714.579
617            31841.575
737            16598.836
755            13841.211
766            24659.753
773            87290.372
777            38776.672
778            75063.081
811            60823.854
822             5880.714
854            12386.830
901            42371.989
905            17513.636
925             3658.346
948             8119.424
968            19933.902
975            59690.649  ,                                              Drug NAme    Country  \
11                          promethazine hydrochloride  Indonesia
20                                        azithromycin  Indonesia
28                                          Citalopram  Indonesia
34   octinoxate, oxybenzone, octisalate, and homosa...  Indonesia
35                                        Azithromycin  Indonesia
..                                                 ...        ...
939                                                AIR  Indonesia
954                            Diltiazem Hydrochloride  Indonesia
955                        DOCUSATE SODIUM, SENNOSIDES  Indonesia
993  Acetaminophen, DIPHENHYDRAMINE HYDROCHLORIDE, ...  Indonesia
998                                      Levetiracetam  Indonesia

     Average Consumption
11             92211.517
20              1345.778
28             14156.990
34             69107.471
35             97190.541
..                   ...
939            39064.060
954            45551.259
955            29788.681
993            39792.530
998            17406.564

[97 rows x 3 columns],                                              Drug NAme         Country  \
13     avobenzone, octinoxate, octisalate, octocrylene  Czech Republic
52                                          Oregon Ash  Czech Republic
76                                    Benzoyl Peroxide  Czech Republic
186                              Bismuth subsalicylate  Czech Republic
197                                        Black Birch  Czech Republic
237  Belladona, Berberis vulgaris, Calc carb, Canth...  Czech Republic
314                                          Docetaxel  Czech Republic
456             DL-Camphor,L-Menthol,Methyl Salicylate  Czech Republic
536                    Octinoxate and Titanium Dioxide  Czech Republic
587                                         Famotidine  Czech Republic
690       Octinoxate, TITANIUM DIOXIDE, and ZINC OXIDE  Czech Republic
756  DEXTROSE MONOHYDRATE, SODIUM CHLORIDE, and POT...  Czech Republic
808                                    Naproxen sodium  Czech Republic
890                                         tazarotene  Czech Republic
917                           NALBUPHINE HYDROCHLORIDE  Czech Republic
918                                         alprazolam  Czech Republic

     Average Consumption
13             18408.085
52             95557.853
76             69198.840
186            45860.285
197            33921.569
237            98410.692
314            85094.071
456            83089.729
536            46404.288
587            39663.858
690            33280.059
756            63642.036
808            61575.947
890              373.154
917            60413.089
918            36693.607  ,                                  Drug NAme   Country  Average Consumption
14                            fluorouracil  Paraguay            55736.789
296                           pioglitazone  Paraguay            84260.484
829  fluticasone propionate and salmeterol  Paraguay            26844.751,                                  Drug NAme   Country  Average Consumption
15   Amoxicillin and Clavulanate Potassium  Cameroon            71871.556
667                              Triclosan  Cameroon             1231.833,                      Drug NAme             Country  Average Consumption
16       BENZALKONIUM CHLORIDE  Dominican Republic            42022.419
88        rizatriptan benzoate  Dominican Republic            17028.694
414    Labetalol Hydrochloride  Dominican Republic            74835.623
876  Venlafaxine Hydrochloride  Dominican Republic            80478.053
936                 Lisinopril  Dominican Republic            65025.742,                                              Drug NAme Country  \
17                                        levofloxacin  Russia
18                                         Mirtazapine  Russia
48                             DILTIAZEM HYDROCHLORIDE  Russia
77                                        PANTOPRAZOLE  Russia
80         Acetaminophen, Caffeine, Pyrilamine maleate  Russia
101                                         Ensulizole  Russia
133                                   MORPHINE SULFATE  Russia
151                          Quercus Borago Adult Size  Russia
155                            PHENYLEPHRINE HCHLORIDE  Russia
176                        Phenylephrine hydrochloride  Russia
183                                         Ensulizole  Russia
194                      Cyclobenzaprine Hydrochloride  Russia
208    Silicon Dioxide, Sodium Fluoride, and Triclosan  Russia
216                                         Zinc oxide  Russia
230                                pantoprazole sodium  Russia
248                                            Alcohol  Russia
325                           Amantadine Hydrochloride  Russia
329                            Labetalol hydrochloride  Russia
337                                Nicotine Polacrilex  Russia
368  ascorbic acid, cholecalciferol, .alpha.-tocoph...  Russia

In [12]:
max_df_list = []
for i in df_list:
  max_df_list.append(i.max())

final = pd.DataFrame(max_df_list)
final.head(20)

,Drug NAme,Country,Average Consumption
0,Balsam Poplar,Spain,8402.902
1,topiramate,Poland,100000.799
2,topiramate,China,99489.652
3,zolpidem tartrate,Japan,99511.428
4,carbidopa and levodopa,Mongolia,97766.003
5,zaleplon,France,96068.256
6,serratia marcescens,Philippines,94845.011
7,topiramate,Indonesia,99022.660
8,tazarotene,Czech Republic,98410.692
9,pioglitazone,Paraguay,84260.484
10,Triclosan,Cameroon,71871.556
11,rizatriptan benzoate,Dominican Republic,80478.053
12,topiramate,Russia,99998.621
13,ONDANSETRON HYDROCHLORIDE,Iraq,47418.056
14,ketoconazole,Honduras,78364.279
15,triamcinolone acetonide,Argentina,84253.684
16,Valacyclovir Hydrochloride,United Kingdom,85879.960
17,acer saccharum pollen,Swaziland,53176.089
18,nystatin,Netherlands,89305.290
19,Treatment Set TS331796,Colombia,97580.210

In [14]:
temp = {
    "A": [1,2,3,4,5],
    "B": [6,None,4,3,0],
    "C": [10,30,None,20,11]

}

temp = pd.DataFrame(temp)
temp.head()

,A,B,C
0,1,6.0,10.0
1,2,NaN,30.0
2,3,4.0,NaN
3,4,3.0,20.0
4,5,0.0,11.0

In [15]:
temp.max()

In [17]:
temp["B"].fillna(temp["B"].max(),inplace=True)

In [18]:
temp

,A,B,C
0,1,6.0,10.0
1,2,6.0,30.0
2,3,4.0,NaN
3,4,3.0,20.0
4,5,0.0,11.0

In [19]:
temp["C"].fillna(temp["C"].median(),inplace=True)

In [20]:
temp

,A,B,C
0,1,6.0,10.0
1,2,6.0,30.0
2,3,4.0,15.5
3,4,3.0,20.0
4,5,0.0,11.0

In [21]:
temp.transpose()

,0,1,2,3,4
A,1.0,2.0,3.0,4.0,5.0
B,6.0,6.0,4.0,3.0,0.0
C,10.0,30.0,15.5,20.0,11.0

In [25]:
temp.transform(func='sqrt')

,A,B,C
0,1.000000,2.449490,3.162278
1,1.414214,2.449490,5.477226
2,1.732051,2.000000,3.937004
3,2.000000,1.732051,4.472136
4,2.236068,0.000000,3.316625

In [44]:
df = temp.transform(func = ['sqrt',lambda x: x**5])

In [45]:
df.rename(columns={"<lambda>":"square","sqrt":"square root"},inplace=True)

In [46]:
df